## coloque em  LP_ADDRESS o contrato que será processado
## renomear o arquivo .env.example para .env e coloque os dados de acordo com o contrato que deseja processar,
## a chave de API do EtherscanV2 e o RPC

LP_ADDRESS=o contrato que será processado aqui
LPUSDT_ADDRESS=0xFb2e2Ff7B51C2BcAf58619a55e7d2Ff88cFD8aCA
LPLOOP_ADDRESS=0xB56032D0B576472b3f0f1e4747f488769dE2b00B

## adicione sua chave de API do EtherscanV2 e o RPC
APIKEY=sua chave de API aqui
RPC_1=seu rpc aqui
